* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color1);
}
html {
  scroll-behavior: smooth;
}
body {
  background-image: radial-gradient(at 80% -20%, #78bdc4 10%, transparent 40%),
    radial-gradient(at 0% 70%, #f7f8f3, transparent 50%),
    radial-gradient(at 0% 0%, #012c3d, transparent),
    radial-gradient(at 80% 40%, #78bdc4, transparent 40%),
    radial-gradient(at 100% 100%, #f8444f, transparent);
  background-attachment: fixed;
}
:root {
  --color1: #f8444f;
  --color2: #f7f8f3;
  --color3: #78bdc4;
  --color4: #012c3d;
}
/*Navigation*/
nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.navigation {
  background-color: var(--color4);
  height: 4rem;
  box-shadow: 0px 5px 40px 10px rgba(57, 91, 100, 0.8);
}
.logo {
  display: inline;
  float: left;
  margin: 1em 0em 1.2em 1.4em;
}
nav ul li {
  display: inline;
}
.nav-links {
  display: inline;
  text-decoration: none;
  list-style: none;
  float: right;
  margin: 1.5em 1.5em 1.3em 1em;
}
.nav-links:hover {
  color: rgb(52, 83, 239);
}
.anchor {
  display: block;
  height: 115px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
}
/*Navigation*/
/*Projects*/
.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.project-border {
  background-color: var(--color3);
  border-radius: 0.2em;
  margin: 7em 6em 0em 6em;
  height: 20em;
  width: 15em;
  box-shadow: 10px 10px 20px 5px rgba(57, 91, 100, 0.8);
}
.project-image {
  height: 11em;
  width: 100%;
  padding: 5%;
  border-radius: 1.1em;
}
.title-border {
  color: blue;
  font-size: large;
  text-align: center;
  text-decoration: none;
}
.project-description {
  text-align: center;
}
.contact-me-box {
  background-color: var(--color3);
  font-size: x-large;
  padding: 10px;
  height: 300px;
  width: 500px;
  margin: auto;
  margin-top: 5em;
  box-shadow: 10px 10px 20px 5px rgba(57, 91, 100, 0.8);
}
.contact-me-box p {
  padding: 10px;
}
.contact-me-title {
  text-align: center;
  padding-top: 10px;
}
.contact-links {
  color: var(--color4);
  text-decoration: none;
}
.about-me-box {
  background-color: var(--color3);
  text-align: center;
  font-size: x-large;
  padding: 10px;
  height: 300px;
  width: 500px;
  margin: auto;
  margin-top: 5em;
  box-shadow: 10px 10px 20px 5px rgba(57, 91, 100, 0.8);
}
.about-me-title {
  text-align: center;
  padding-top: 10px;
}
/* For extremely small screen devices (599px and below) */
@media screen and (max-width: 599px) {
  .project-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .project-border {
    margin: 7em 0em 0em 8em;
  }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
  .project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .project-border {
    margin: 7em 0em 0em 1.8em;
  }
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  .project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .project-border {
    margin: 7em 0em 0em 4.4em;
  }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
  .project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .project-border {
    margin: 7em 0em 0em 4.5em;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  .project-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .project-border {
    margin: 5em 0em 0em 4.5em;
  }
}
