* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../images/black-background.png);
}
/*Navigation*/
nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.navigation {
  background-color: rgb(0, 0, 0);
  height: 4em;
  box-shadow: 0px 5px 40px 10px rgb(255, 255, 255);
}
.logo {
  color: white;
  display: inline;
  float: left;
  margin: 1em;
}
.search {
  color: black;
  display: inline-block;
  margin-top: 1em;
}
.search-input {
  height: 30px;
  width: 200px;
}
.nav-links-div {
  float: right;
  margin-top: 1.3em;
}
.nav-links {
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  list-style: none;
  display: inline;
  margin-right: 1em;
}
.nav-links:hover {
  color: rgb(52, 83, 239);
}
.profile-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline;
  float: right;
  margin: 0.5em;
}
/*Navigation*/
/*ContactMe*/
.contact-me-box {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: x-large;
  padding: 30px;
  height: 300px;
  width: 500px;
  margin: auto;
  margin-top: 15vh;
  box-shadow: 0px 0px 10px 5px rgba(192 192 192),
    -0px -0px 10px 5px rgba(192 192 192);
}
.contact-me-title {
  text-align: center;
  padding-top: 10px;
}
.contact-links {
  text-decoration: none;
}
/*ContactMe*/
